/* Common codes starts*/
body {
    margin: 0;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
    opacity: 0.7;
}

h2 {
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 35px;
    opacity: 0.7;
}

h3 {
    font-size: 25px;
    font-weight: 700;
}

p {
    margin-bottom: 50px;
    font-family: 'Headland One', serif;
    font-size: 20px;
    text-align: justify;
    opacity: 0.6;
}

span {
    color: rgb(235, 65, 65);
}

.cmn-btn {
    font-size: 20px;
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(247, 77, 77), rgb(241, 50, 50), rgb(245, 24, 24), rgb(241, 8, 8));
    padding: 20px 40px;
    color: white;
    border-radius: 50px;
}

.common-part-txt {
    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
}

.common-part-img {
    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
}

/* Common codes ends */



/* banner-section-starts */
.banner-section {
    display: flex;
    margin-bottom: 150px;
}

.banner-txt {
    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
}

.banner-img {
    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
}

.banner-img img {
    width: 70%;
}

/* banner-section-endss */



/* About-me section starts */
.about-me {
    display: flex;
    margin-bottom: 150px;
    background-image: url(Frame.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-me-txt {
    padding: 30px;
}

.about-me-txt p {
    margin-bottom: 100px;
}

.about-me-img img {
    width: 100%;
}

/* About-me section ends */



/* my recipie starts */
.my-recipie {
    margin-bottom: 150px;
}

.my-recipie-div {
    text-align: center;
}

#my-recipie-p {
    text-align: center;
    width: 40%;
    margin: auto;
    margin-bottom: 40px;
}

.cards {
    display: flex;
}

.cards p {
    margin-bottom: 10px;
}

.card-info {
    padding: 10px 30px;
}

.card1 {
    width: 30%;
    margin-left: 17.5%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card2 {
    width: 30%;
    margin-left: 5%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-img img {
    width: 100%;
}

.card-des {
    padding: 10px;
    text-align: justify;
}


/* my recipie ends */